*{ font-family: cursive;}

h1 { background-color: black;
    color: white;
}

h1 span {color: cyan;
}

h2 { text-align: center;
    font-style: italic;
    background-color: rebeccapurple;
    color: white
}
h3 { background-color: lightskyblue;
    color: purple;
    text-align: right;
    text-decoration: underline;}